*, *:before, *:after {
	box-sizing: border-box;
}

#container {
	position: relative;
	margin: 2em;
}

.left {
	width: 300px;
	height: 500px;
	position: absolute;
	border-right: .1em solid gray;
}

img {
	width: 100%
}
.right {
	height: 500px;
	
}